<mat-card>
    <div class="header__container">
        <mat-form-field appearance="standard">
          <mat-label>Buscar spot...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Gorosito" #input>
        </mat-form-field>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openDialog()">
          <mat-icon>add_location</mat-icon>
        </button>
    </div>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let element"> {{ element.category.name }} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef></th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
          <td mat-cell *matCellDef="let element" class="operations__container">
              <button mat-raised-button color="accent" class="edit__option" (click)="openDialog( element )" >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-raised-button color="primary" class="delete__option" [swal]="swalDelete" (confirm)="spotDelete($event, element.id)">
                <mat-icon>delete</mat-icon>
              </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con la búsqueda "{{input.value}}"</td>
        </tr>
      </table>
      
</mat-card>
