/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field.mat-focused mat-label {
  color: #fff;
}

.mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.mat-raised-button {
  min-width: 50px;
  line-height: 30px;
}

.edit__option {
  margin-right: .5rem;
}
.delete__option {
  background-color: #c21837;
}

th.mat-header-cell {
  text-align: left !important;
}
td.mat-cell {
  text-align: left !important;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

::ng-deep {
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: rgba(255, 255, 255, .7);
  }
}