.mat-dialog-title {
  border-bottom: 1px solid rgba(255,255,255,.12);
  padding-bottom: 5px;
}

.mat-dialog-content {
  overflow-x: hidden;
}
.spot-modal__container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .map__container {
    // border: 1px solid red;
    flex-basis: 70%;
  }

  .form__container {
    // border: 1px solid blue;
    flex-basis: 30%;

    .full__field {
      width: 100%;
    }
  }
}

.google-maps__container {
  position: sticky;
  top: 0;
}

::ng-deep .mat-form-field:not(.textarea) .mat-form-field-infix {
  height: 10px;
  font-size: 12px;
}

::ng-deep {
  .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255,255,255,.7);
  }
}

::ng-deep {
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #ff6357;
  }
}

::ng-deep {
  .filepond--credits {
    display: none !important;
  }
}

